#orange{
    color: rgb(180, 33, 180);
    font-size: 80px;
}
#first-page{
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
}
#second-page{
    display: flex;
    padding-top: 0px;
}
.s1{
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
}
.s2{
    width: 50%;
    padding-top: 0px;
    padding-left: 50px;
}
.s1 img{
    width: 60%;
}
.s2 img{
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 200px;
    padding-right: 50px;
}
#header{
    background-color: lightskyblue;
    text-align: center;
    font-size: 60px;
}
#p1{
    font-size: 20px;
    text-align: justify;
}
#p2{
    padding-right: 100px;
    padding-top: 200px;
}
body{
    font-family: 'Anton', sans-serif;
    font-family: 'Prompt', sans-serif;
    margin: 0px;
}
.h2{
    font-size: 40px;
}
.button1{
    text-decoration: none;
    background-color: lightskyblue;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 7px;
    margin-left: 300px;  
    margin-top: 20px;
    border-style: double;
    border: 10px;
}
